<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {include file="meta" /}
</head>
<body class="apptop"><!--百度熊掌号改造-->
{include file="header"/}
<div class="container main">
    <div class="row">
        <div class="hy-layout clearfix" style="margin-top: 10px;">
            <div class="hy-switch-tabs active clearfix">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="javascript:;" title="系统公告">系统公告</a>
                    </li>
                </ul>
            </div>
            <div class="hy-video-list">
                <div class="item">
                    <ul class="clearfix">
                        {foreach $list as $v}
                        <li class="col-md-6 col-sm-6 col-xs-12">
                            <div class="title">
                                <h5 class="text-overflow" title="{$v.title}">
                                    <a target="_top" href="/gonggao/{$v.id}.html">{$v.title}</a>
                                </h5>
                            </div>
                        </li>
                        {/foreach}
                    </ul>
                </div>
            </div>

            <div class="hy-page clearfix">
                {$list->render()|raw}
            </div>
        </div>
    </div>
</div>
<!--<script type="text/javascript">
    var w = document.documentElement ? document.documentElement.clientWidth : document.body.clientWidth;
    if (w > 640) {
        $(".collapse").addClass("in");
    }
</script>-->
{include file="footer" /}
</body>
</html>