<!DOCTYPE html>
<html lang="zh-CN">
<head>

    <script>var id = '{$id}', alias = '{$alias}';</script>
    {include file="meta"/}
</head>
<body><!--百度熊掌号改造-->
 {include file="header"/}
<div class="container main">
    <div class="row">
        <div class="col-md-9 col-sm-12 hy-main-content">
            <div class="hy-video-details clearfix">
                <div class="item clearfix">
                    <dl class="content">
                        <dt>
                            <a class="videopic lazy" href="javascript:;" title="{$title}" style="background: url({$thumb})  no-repeat; background-position:50% 50%; background-size: cover;" data-original="{$thumb}" >
                                </span><span class="note textbg">{$tags}</span>
                            </a>
                        </dt>
                        <dd class="clearfix">
                            <div class="head">
                                <h3>{$title}</h3></div>
                            <div class="score"><!--<script type="text/javascript">markVideo(16,0,0,0,10,1);markVideo2(16,1,10);</script>-->
                                <div class="star"><span class="star-cur" id="score"></span></div>
                                <span class="branch">{:number_format($score,1)}</span>
                                <script type="text/javascript">
                                    var str = "{:number_format($score,1)}%"
                                    document.getElementById("score").style.width = (str.replace(".", ""))
                                </script>
                            </div>
                            <ul>
                                <li class="">
                                    <span class="text-muted">类型：</span><a href="/{$alias}/list-{$tags}}.html" title="{$tags}">{$tags}</a>
                                </li>
                                <li class=""><span class="text-muted">时间：</span>{:date('Y-m-d H:i:s',$insert_time)}</li>
                                <li class="pull-bottom">
                                    <a class="btn btn-sm btn-default clickGood" href="javascript:;">
                                        <i class="icon iconfont icon-agree"></i> 点赞
                                    </a>
                                    <a class="btn btn-sm btn-default addFav {$active}" href="javascript:;"> <i class="icon iconfont icon-collection"></i> 收藏</a>
                                    <a class="btn btn-sm btn-default btn-share" href="javascript:;"> <i class="icon iconfont icon-share"></i> 分享</a>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div><!-- 内容相关提示begin -->
            <div class="hy-layout active clearfix">
                <div class="hy-switch-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#list1" data-toggle="tab" title="图片列表"><i class="icon iconfont icon-cion3"></i> 文章内容</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="hy-play-list tab-pane fade in active" id="list5">
                        <div class="item tyui" id="playlist5">
                            <div class="panel clearfix">
                                <div id="playlist6" class="playlist collapse in">
                                    <h1 style="margin-top: 10px">{$title}</h1>
                                    {$content|raw}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--相关-->
            <div class="hy-layout active clearfix">
                <div class="hy-switch-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#list1" data-toggle="tab" title="播放线路"><i class="icon iconfont icon-play"></i> 播放线路</a>
                        </li>
                        <li>
                            <a href="#list2" data-toggle="tab" title="影片下载"><i class="icon iconfont icon-download"></i> 影片下载</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="hy-play-list tab-pane fade in active" id="list1">
                        <div class="item tyui" id="playlist">
                            <div class="panel clearfix">
                                <div id="playlist4" class="playlist collapse in">
                                    <table class="playlistlink-4 list-15256 clearfix">
                                        <tr><td><a class="btn btn-m btn-default" title='手机播放' href='/play/{$id}.html' target="_self">线路一</a>美国芝加哥节点 - 默认线路</td></tr>
                                        <tr><td><a class="btn btn-m btn-default" title='电脑播放' href='/play/{$id}.html?road=2' target="_self">线路二</a>全球加速节点 - 建议海外用户选用</td></tr>
                                        <tr><td><a class="btn btn-m btn-default" title='电脑播放' href='/play/{$id}.html?road=3' target="_self">线路三</a>全球备用节点 - 卡顿时首选</td></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hy-play-list tab-pane fade in" id="list2">
                        <div class="item" id="downlist">
                            <div class="panel">
                                <div id="downlist1" class="downlist collapse in">
                                    <span class="down-help">
                                        <a href="/help/ios.html" target="_blank">【苹果手机教程】</a>
                                        <a href="/help/anzuo.html" target="_blank">【安卓手机教程】</a>
                                        <a href="/help/pc.html" target="_blank">【电脑版教程】</a>
                                    </span>
                                    <table class="table">
                                        <tbody>
                                        <tr class="app_hide">
                                            <td width="75%">
                                                <script src="/home/js/clipboard.min.js"></script>
                                                <input type="text" data-clipboard-text="{$down_url}" id="lin1k0" class="form-control input-sm copy_btn" value="{$down_url}">
                                            </td>
                                            <td width="25%" align="right">
                                                <a href="{$down_url}" class="btn btn-sm btn-default downlink_btn">普通下载</a> &nbsp
                                                <a href="{:Thunder($down_url)}" class="btn btn-sm btn-default hidden-xs" title="迅雷影音" target="_self">迅雷影音</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="75%">
                                                <script src="/home/js/clipboard.min.js"></script>
                                                <input type="text" data-clipboard-text="{:Thunder($down_url)}" id="lin1k1" class="form-control input-sm copy_btn app_disable" value="{:Thunder($down_url)}">
                                            </td>
                                            <td width="25%" align="right">
                                                <a href="{:Thunder($down_url)}" class="btn btn-sm btn-default downlink_btn">迅雷下载</a> &nbsp;
                                                <a href="{:Thunder($down_url)}" class="btn btn-sm btn-default hidden-xs" title="迅雷影音" target="_self">迅雷影音</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--相关-->
            <div class="hy-layout clearfix">
                <div class="hy-video-head"><h3 class="margin-0"><i class="icon iconfont icon-collect text-color"></i>播放小提示</h3></div>
                <div class="tishi">由于本站建立于美国，可能部分国家地区访问会出现卡顿！受您本地网络环境影响，如果默认线路(线路一）播放出现卡顿，请您手动切换至播放（线路二），如果线路二播放出现卡顿，请您手动切换至播放（线路二），您也可选择通过迅雷下载到手机进行观看！</div>
            </div>

            <!--评论-->
            <div class="hy-layout clearfix">
                <div class="hy-video-head"><h3 class="margin-0"><i class="icon iconfont icon-comment text-color"></i>影片评论</h3></div>
                <div id="comment_list"></div>
            </div><!--end 评论-->
        </div>
        {include file="right"  /}
    </div>
</div>
</div>

{include file="footer" /}

<script>
    var vid = {$id};
    $(function () {
        $.post(api_host+'/api/comments',{id:vid},function (res) {
            $('#comment_list').html(res);
        })
    })
</script>
</body>
</html>