    <meta charset="utf-8">
    <title>{:config('web_site_title')}后台管理</title>
    <meta name="description" content="OneUI - Admin Dashboard Template &amp; UI Framework created by pixelcave and published on Themeforest">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Web fonts -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">-->

    <!-- Bootstrap and OneUI CSS framework -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="/static/js/plugins/select2/select2-bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/plugins/datatables/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/static/js/plugins/sweetalert/sweetalert.min.css">
    <link rel="stylesheet" href="/static/js/plugins/jquery-nestable/jquery.nestable.css">

    <link rel="stylesheet" id="css-main" href="/static/css/oneui.css">
    <link rel="stylesheet" id="css-theme" href="/static/css/themes/{:config('system_color')}.min.css">

    <link rel="stylesheet" href="/admin/admin.css">
    <script src="/static/js/core/jquery.min.js"></script>
    <script>
		var Quick = {
			get_filter_list : "{:url('/publics/getfilterlist')}",
			theme_url : "{:url('/publics/settheme')}",
			curr_url: window.location.pathname,
			curr_params :{{if $page}'page':'{$page}'{/if}},
			search_field : '{$_SERVER['PHP_SELF']}',
            quick_edit_url: "{:url('/'.$controller.'/quickedit')}",
            admin_base_icon : '{$admin_base_icon}',
            _filter : GetUrlParam('_filter'),
            _filter_content : GetUrlParam('_filter_content'),
            _field_display : GetUrlParam('_field_display'),
            _field_clear : GetUrlParam('_field_clear')
		};

        var tagsDefaultText = '添加标签';
        //paraName 等找参数的名称
        function GetUrlParam(paraName) {
            var url = document.location.toString();
            var arrObj = url.split("?");

            if (arrObj.length > 1) {
                var arrPara = arrObj[1].split("&");
                var arr;

                for (var i = 0; i < arrPara.length; i++) {
                    arr = arrPara[i].split("=");

                    if (arr != null && arr[0] == paraName) {
                        return arr[1];
                    }
                }
                return "";
            }
            else {
                return "";
            }
        }
    </script>